include AUTHORS.rst
include HISTORY.rst
include LICENSE
include README.md

recursive-include nagger/templates *.md *.txt
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
